= form_for @gong do |f|
  - if @gong.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gong.errors.count, "error")} prohibited this gong from being saved:"
      %ul
        - @gong.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :threshhold
    = f.number_field :threshhold
  .actions
    = f.submit 'Save'
